.message-input{
    
        height: 100px;
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    
}

.messages-input-text {
    font-size:16pt;
    height:70px;
    width:400px;
 }
.message-input-button{
    border-radius: 30px;
    float: right;
}